@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
font-family: 'Rubik', sans-serif;
background-color: #424949;
}

a{
  color:  black;
  text-decoration: none;
}
a:hover {
  color: #474444;
}
.url {
  background-size: 300px 60px;
  border-radius: 20px;
  background:#C900FF;
  margin: 10px;
  padding: 3px;
  width: 400px;
  text-align: center;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.text {
color: white;
}
